@model IEnumerable<ProjetoEcommerce.Models.tbPacoteComPassagemProduto>

<nav class="nav">
    <div class="container">
        <div class="text-star">
            <h1 class="text-primary">Anu Viagens</h1>
            <p class="text-nav fs-6">Acompanhe todos os seus registros em um único lugar.</p>
        </div>
    </div>
</nav>