@model ProjetoEcommerce.Models.tbPassagem;

<link href="~/css/clientecadastro.css" rel="stylesheet" />


<form asp-action="CadastrarPassagem">
    
    <h1>Cadastrar Passagem</h1>

    <img class="Img aviao" src="~/imagem/aviao.png" />
    <img class="img lua" src="~/imagem/lua.png" />
    <img class="img nuvem" src="~/imagem/nuvem.png" />
    <img class="img bird" src="~/imagem/bird.png" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-cadastro  w-100 h-100">
        <header>
            <nav class="navbar Cadastro-navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand nav-link text-light" asp-area="" asp-controller="Cliente" asp-action="CadastrarCliente">Cliente</a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-0 ">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Produto" asp-action="CadastrarProduto">Produto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Pacote" asp-action="CadastrarPacote">Pacote</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-area="" asp-controller="Passagem" asp-action="CadastrarPassagem">Passagem</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Funcionario" asp-action="CadastrarFuncionario">Funcionario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Viagem" asp-action="CadastrarViagem">Viagem</a>
                            </li>
                            <li class="nav-item item-cada">
                                <a class="nav-link text-light" asp-area="" asp-controller="Transporte" asp-action="CadastrarTransporte">Transporte</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <div class="row cadastro-row">
        <div class="col  form-group">
            <label asp-for="IdViagem" class="control-label">Id Viagem</label>
            <input asp-for="IdViagem" class="form-control cadastro-input" />
            <span asp-validation-for="IdViagem" class="text-danger"></span>
        </div>
            <div class="col form-group">
                <label asp-for="IdTransporte" class="control-label">Id Transporte</label>
                <input asp-for="IdTransporte" class="form-control cadastro-input" />
                <span asp-validation-for="IdTransporte" class="text-danger"></span>
            </div>
        <div class="col form-group">
            <label asp-for="Valor" class="control-label"></label>
            <input asp-for="Valor" class="form-control cadastro-input" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>

        <div class="col form-group">
            <label asp-for="Assento" class="control-label"></label>
            <input asp-for="Assento" class="form-control cadastro-input" />
            <span asp-validation-for="Assento" class="text-danger"></span>
        </div>

        <div class="col form-group">
            <label asp-for="Situacao" class="control-label">Situação</label>
            <input asp-for="Situacao" class="form-control cadastro-input" />
            <span asp-validation-for="Situacao" class="text-danger"></span>
        </div>
            <div class="col row-cols-2 w-100 form-group">
                <label asp-for="Translado" class="control-label"></label>
                <select asp-for="Translado" class="">
                    <option value="Sim">Sim</option>
                    <option value="Não">Não</option>
                </select>
                <span asp-validation-for="Translado" class="text-danger"></span>
            </div>
        <div class=" btn form-group justify-content-center align-items-center  d-flex ">
            <button type="submit" class="btn btn-primary text-center ps-5 pe-5 fs-5 justify-content-center  p-2" />Cadastrar</button>
        </div>
    </div>
</form>