@model ProjetoEcommerce.Models.tbVenda

<link href="~/css/clientecadastro.css" rel="stylesheet" />

<h1>Cadastrar Venda</h1>

<form asp-action="ComprarPassagem" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="container-cadastro w-100 h-100">
        <header>
            <nav class="navbar Cadastro-navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand text-primary" asp-controller="Cliente" asp-action="CadastrarCliente">Cliente</a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-0">
                            <li class="nav-item"><a class="nav-link text-light" asp-controller="Produto" asp-action="CadastrarProduto">Produto</a></li>
                            <li class="nav-item"><a class="nav-link text-light" asp-controller="Pacote" asp-action="CadastrarPacote">Pacote</a></li>
                            <li class="nav-item"><a class="nav-link text-light" asp-controller="Passagem" asp-action="CadastrarPassagem">Passagem</a></li>
                            <li class="nav-item"><a class="nav-link text-light" asp-controller="Funcionario" asp-action="CadastrarFuncionario">Funcionario</a></li>
                            <li class="nav-item"><a class="nav-link text-light" asp-controller="Viagem" asp-action="CadastrarViagem">Viagem</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="row cadastro-row">

            <div class="col form-group">
                <label for="idCliente" class="control-label">Id Cliente</label>
                <input type="number" name="idCliente" id="idCliente" class="form-control cadastro-input" required />
            </div>

            <div class="col form-group">
                <label for="idPassagem" class="control-label">Id Passagem</label>
                <input type="number" name="idPassagem" id="idPassagem" class="form-control cadastro-input" required />
            </div>

            <div class="col form-group">
                <label for="idFuncionario" class="control-label">Id Funcionário</label>
                <input type="number" name="idFuncionario" id="idFuncionario" class="form-control cadastro-input" required />
            </div>

            <div class="col form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control cadastro-input" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="col form-group">
                <label asp-for="FormaPagamento" class="control-label"></label>
                <input asp-for="FormaPagamento" class="form-control cadastro-input" />
                <span asp-validation-for="FormaPagamento" class="text-danger"></span>
            </div>



            <div class="col form-group">
                <label asp-for="DataVenda" class="control-label"></label>
                <input asp-for="DataVenda" class="form-control cadastro-input" type="date" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>
        </div>

        <div class="btn form-group justify-content-center align-items-center d-flex mt-4">
            <button type="submit" class="btn btn-primary ps-5 pe-5 fs-5 p-2">Cadastrar</button>
        </div>
    </div>
</form>
