@model ProjetoEcommerce.Models.tbPassagem

<!-- Editar Passagem -->
<link href="~/css/editarpassagem.css" rel="stylesheet" />



<div class="btn-nav col d-flex justify-content-end align-items-start pt-3">
    <a asp-controller="Dashboard" asp-action="Index" class="btn rounded-3 btn-primary">
        <i class="bi bi-arrow-left-circle"></i> Voltar
    </a>
</div>
<h2 class="tituloEditar pt-5 p-5 pb-2">Editar Passagem</h2>

<form asp-action="EditarPassagem" method="post" class="FormTudo container pt-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group div-item">
        <input type="hidden" asp-for="IdPassagem" />
        <span asp-validation-for="IdPassagem" class="text-danger"></span>
    </div>

    <div class="form-group div-item pt-3">
        <label for="IdViagem_IdViagem" class="control-label">ID da Viagem</label>
        <input name="IdViagem.IdViagem" value="@Model.IdViagem?.IdViagem" class="form-control cadastro-input" />
        <span asp-validation-for="IdViagem.IdViagem" class="text-danger"></span>
    </div>

    <div class="form-group div-item pt-3">
        <label for="IdTransporte_IdTransporte" class="control-label">ID do Transporte</label>
        <input name="IdTransporte.IdTransporte" value="@Model?.IdTransporte?.IdTransporte" class="form-control cadastro-input" />
        <span asp-validation-for="IdTransporte.IdTransporte" class="text-danger"></span>
    </div>

    <div class="form-group div-item pt-3">
        <label asp-for="Valor" class="control-label"></label>
        <input asp-for="Valor" class="form-control cadastro-input" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="form-group div-item pt-3">
        <label asp-for="Assento" class="control-label"></label>
        <input asp-for="Assento" class="form-control cadastro-input" />
        <span asp-validation-for="Assento" class="text-danger"></span>
    </div>

    <div class="form-group div-item pt-3">
        <label asp-for="Situacao" class="control-label"></label>
        <input asp-for="Situacao" class="form-control cadastro-input" />
        <span asp-validation-for="Situacao" class="text-danger"></span>
    </div>
    <div class="row div-item">
        <div class="col row-cols-2 w-100 form-group">
            <label asp-for="Translado" class="control-label"></label>
            <select asp-for="Translado" class="">
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
            </select>
            <span asp-validation-for="Translado" class="text-danger"></span>
        </div>
    </div>
    <div class="btn form-group justify-content-center align-items-center d-flex pt-4">
        <button type="submit" class="btn ps-5 pe-5 fs-5 justify-content-center p-2">Alterar</button>
    </div>
    <div class="btn form-group justify-content-center align-items-center d-flex">
        <button type="reset" class="btn ps-5 pe-5 fs-5 justify-content-center p-2">Cancelar</button>
    </div>

</form>
