@model IEnumerable<ProjetoEcommerce.Models.tbPassagemComViagem>

<nav class="nav">
    <div class="container">
        <div class="text-star">
            <h1 class="text-primary">Anu Viagens</h1>
            <p class="text-nav fs-6">Acompanhe todos os seus registros em um único lugar.</p>
            <a asp-controller="Dashboard" asp-action="Index" class="btn rounded-3 btn-primary">
                <i class="bi bi-arrow-left-circle"></i> Voltar
            </a>
        </div>
    </div>
</nav>
