
<link href="~/css/funcionariologin.css" rel="stylesheet" />


<body>
    <section class="row pt-5 ">
        
        <div class="col-6 pt-5 ">
            <div class="Imagem">
                <img src="~/imagem/logo.png" class="logo" />
                <label class="anu"><h1>Anu Viagens</h1></label>
                <label class="anu2">O Brasil que você nunca imaginou</label>
            </div>
        </div>
        <div class="col ps-5">
            <form asp-action="Login" method="post" class="login-form justify-content-center">
                <div class="Titulo">
                    <h1 class="title">Anu Viagens</h1>
                    <h5>Acesso ao Sistema</h5>
                </div>
                <div class="form-group">
                    <label>EMAIL</label>
                    <input type="email" name="email" required class="form-control" />
                </div>
                <div class="form-group">
                    <label>SENHA</label>
                    <input type="password" name="senha" required class="form-control" />
                </div>
                <div class="buto">
                    <button type="submit" class="btn "><h5>Entrar</h5></button>
                </div>

            </form>
        </div>
    </section>
   
</body>