
<link href="~/css/funcionariologin.css" rel="stylesheet" />


<body>
	<div class="Imagem">
		<img src="~/imagem/logo2.jpg"  class="img-fluid logo"/>
	</div>

	 <form asp-action="Login" method="post" class="login-form">
		 <div class="Titulo">
			 <h1>Anu Viagens</h1>
			 <h5>Acesso ao Sistema</h5>
		 </div>
		 <div class="form-group">
			 <label>EMAIL</label>
			 <input type="email" name="email" required class="form-control" />
		 </div>
		<div class="form-group">
			<label>SENHA</label>
			<input type="password" name="senha" required class="form-control" />
		</div>
		<div class="buto">
			<button type="submit" class="btn btn-primary">Entrar</button>
		</div>
	 </form>
</body>