@model ProjetoEcommerce.Models.tbViagem;



<div class="btn-nav col d-flex justify-content-end align-items-start pt-3">
    <a asp-controller="Dashboard" asp-action="Index" class="btn rounded-3 btn-primary">
        <i class="bi bi-arrow-left-circle"></i> Voltar
    </a>
</div>
<h2 class="tituloEditar">Editar Viagem</h2>
<form asp-action="EditarViagem" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="IdViagem" class="form-control" />
    <span asp-validation-for="IdViagem" class="text-danger"></span>

    <div class="row cadastro-row">
        <div class="col form-group">
            <label asp-for="DataPartida" class="control-label"></label>
            <input asp-for="DataPartida" class="form-control cadastro-input" />
            <span asp-validation-for="DataPartida" class="text-danger"></span>
        </div>

        <div class="col form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control cadastro-input" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <div class="col form-group">
            <label asp-for="Origem" class="control-label"></label>
            <input asp-for="Origem" class="form-control cadastro-input" />
            <span asp-validation-for="Origem" class="text-danger"></span>
        </div>

        <div class="col form-group">
            <label asp-for="Destino" class="control-label"></label>
            <input asp-for="Destino" class="form-control cadastro-input" />
            <span asp-validation-for="Destino" class="text-danger"></span>
        </div>

        <div class="col form-group">
            <label asp-for="DataRetorno" class="control-label"></label>
            <input asp-for="DataRetorno" class="form-control cadastro-input" />
            <span asp-validation-for="DataRetorno" class="text-danger"></span>
        </div>
    </div>

    <div class="btn form-group justify-content-center align-items-center d-flex mt-4">
        <button type="submit" class="btn btn-primary ps-5 pe-5 fs-5 justify-content-center p-2">Alterar</button>
    </div>
</form>
