<link href="~/css/dashboardindex.css" rel="stylesheet" />

<section>
    <div class="text-star">
        <h1 class="text-primary">Anu Viagens</h1>
        <p class="text-nav fs-6">Acompanhe todos os seus registros em um único lugar.</p>
    </div>
</section>
<section class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col p-2">
            <div class="card card-maid h-100">
                <div class="card-body">
                    <div class="d-flex">
                    <h3 class="card-title pe-3">Produtos</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                        <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0z" />
                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6z" />
                        </svg>
                    </div>
                    <p class="card-text fs-4">5</p>
                    <div class="card-footer text-center">
                        <a asp-area="" asp-controller="Produto" asp-action="Index" class="btnDash fs-5">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card card-maid h-100">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="card-title  pe-3">Pacotes</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
                    </svg>
                    </div>
                    <p class="card-text fs-4">5</p>
                    <div class="card-footer text-center">
                        <a asp-area="" asp-controller="Pacote" asp-action="Index" class="btnDash btn-maid fs-5">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card card-maid h-100">
                <div class="card-body ">
                   <div class="d-flex">
                        <h3 class="card-title  pe-3">Passagens</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-ticket-perforated" viewBox="0 0 16 16">
                        <path d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z" />
                        <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z" />
                    </svg>
                    </div>
                    <p class="card-text fs-4">5</p>
                    <div class="card-footer text-center">
                        <a asp-area="" asp-controller="Passagem" asp-action="Index" class="btnDash btn-maid fs-5">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    <div class="row row-cols-1 row-cols-md-3 g-4 pt-5 p-4">
        <div class="col p-2">
            <div class="card card-maid h-100">
                <div class="card-body">
                    <div class="d-flex  pe-3">
                    <h3 class="card-title text-black">Funcionarios</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                        <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z" />
                    </svg>
                    </div>
                    <p class="card-text fs-4">5</p>
                    <div class="card-footer text-center">
                        <a asp-area="" asp-controller="Funcionario" asp-action="Login" class="btnDash btn-maid fs-5">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card card-maid h-100">
                <div class="card-body">
                  <div class="d-flex">
                        <h3 class="card-title  pe-3">Cliente</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                    </svg>
                    </div>
                    <p class="card-text fs-4">5</p>
                    <div class="card-footer text-center">
                        <a asp-area="" asp-controller="Cliente" asp-action="Index" class="btnDash btn-maid fs-5">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 

