.search-box {
    top: 5%;
    left: 60%;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    transition: 0.6s;
    color: rgb(255, 255, 255); 
}


.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: aliceblue;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.6s;
}

.search-btn {
    width: 33px;
    height: 33px;
    border: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius:50%;
    background:rgb(11, 38, 151);
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;

}

.search-box:hover > .search-btn {
    background: #fefefe;
    border-radius: 50%;
}

.search-box:hover {
    background: rgb(0, 83, 255);
    color: rgb(11, 38, 151);
}

