body {
    background: #f4f4f4;
<<<<<<< HEAD
}
.Imagem {
    border: 2px solid black;
    width: 45%;
 
    position: absolute;
    top: 0;
    left: 0;
    object-fit:cover;
}
.login-form {
    width: 45%;
=======
    
}
.Imagem {
    background-color:#3e528d;
    height: 100%; /* em pixels 830 px*/
    width: 45%;
    position: absolute;
    margin-top:-9.74%; /* em pixels -187px*/
    margin-left: -16.5%; /*em pixels -315px*/
    object-fit: cover;
}

.logo {
    width: 100%;
    height: 100%;
}

.login-form {
    width: 55%;
>>>>>>> 1ceb33941b22d2c64fc4df7d13e6ea879a7e5d24
    margin: 0;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #ffffff;
<<<<<<< HEAD
    margin-left: 50%;
    margin-top: 10%;
=======
    margin-left: 55%;
    margin-top: 10%;
    font-weight: 550;
>>>>>>> 1ceb33941b22d2c64fc4df7d13e6ea879a7e5d24
}

.form-control {
    border: 1px solid black;
    border-radius: 8px;
<<<<<<< HEAD

}

button{
    text-align:center;
    margin-top:13%;
    width:150px;
}
.buto, .Titulo {
    text-align: center;
}

.Titulo {
    margin-bottom: 15%;
}

h2{
=======
}

button {
    text-align: center;
    margin-top: 10%;
    width: 180px;
    transition: 0.3s color ease;
}

button:hover {    
    width: 195px;
    background-color:darkblue;
}

.buto, .Titulo {
    text-align: center;

}

.Titulo {
    margin-bottom: 16%;
}

h1{
>>>>>>> 1ceb33941b22d2c64fc4df7d13e6ea879a7e5d24
    color:dodgerblue;
}
input {
    border: 2px solid black;
    border-radius: 35px;
  
}
.form-group {
    margin: 20px;
<<<<<<< HEAD
}
=======
}

header, footer{
    visibility:hidden;
}

>>>>>>> 1ceb33941b22d2c64fc4df7d13e6ea879a7e5d24
