
.container-cadastro {
    background-color: lightgray;
    margin-top: 12%;
    font-size: 25px;
    display: grid;
    align-content: center;
    align-items: center;
    align-self: center;
    border-radius: 15px;
    height: 645px !important;
    padding: 25px;
}

.cadastro-input {
    padding-top: 25px !important;
    padding-left: 25px !important;
    font-size: 25px !important;
    width: 450px;
    border-radius: 10px;
}

.cadastro-row {
    margin-top: 15%;
}

button[type="submit"] {
    margin-top: 7%
}

select {
    margin-top: -4px;
    width: 250px !important;
    height: 75px;
    border-radius: 15px;
}
