
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-brand {
    margin-left: 35px;
}

.titulo-nav {
    color: rgb(14, 76, 224) !important;
}

.nav-item {
    margin-left: 175px;
}

.saida {
    border: 1px solid red;
    border-radius: 5px;
    display: inline-block !important;
}

    .saida:hover {
        border: 1px solid red;
        border-radius: 5px;
        background-color: red;
        color: white !important;
    }
.navbar-brand {
    margin-left: 10px; /* Reduzido */
}

.navbar-nav {
    gap: 0.75rem; /* Espaço horizontal entre os itens */
}

.cargo {
    margin-left:70px !important; /* Remove o espaçamento gigante */
}

.nav-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
}

    .nav-link img {
        height: 20px;
        margin-right: 5px;
    }
